.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list input{
    border: none;
    padding: .5em;
    border-radius: .5em;
    font-size: 18px;
    margin-top: 10px;
}


.list-button button{
    border: none;
    border-radius: .5em;
    margin-left: 10px;
    padding: 0.5em;
    font-size: 20px;
}

.list-button button:nth-child(2){
    color: orange;
}

.list-button button:nth-child(1){
    color: yellowgreen;
}

.list-button button:last-child{
    color: red;
}

